.tile {
	border: 1px solid white;
	opacity: 75%;
}

.empty {
	background-color: black;
}

.busy {
	background-color: #002D62;
}

.selecting {
	background-color: #ffd700;
}

.tile:hover {
	cursor: pointer;
	background-color: #737373;
}


